.product {
  &__image {
    margin: 15px 0;
    max-width: 50%;
    min-height: 200px;
  }

  &__name {
    font-weight: 600;
    color: #353535;
  }

  &__price {
    font-weight: 600;
    color: rgb(40, 167, 57);
  }

  &__description {
    color: #555555;
  }
}
